<div class="whole">
    <nav class="navbar navbar-expand-lg navbar-light navi">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="imgg" src="assets/images.png" alt="">
                Green Bank</a>
            <div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Our Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">FeedBack</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Support</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="welcome">
        <h1 class="h1">Welcome User</h1>
    </div>
    <div class="container first ">
        <div class="row rw">

            <div class="col-2">


            </div>
            <div class="col-4 rw1">
                <form action="">
                    <div class="mb-3 ">
                        <input class="text-box" type="text" id="uname" placeholder="Enter user name">
                    </div>
                    <div class="mb-3">
                        <input class="text-box" type="password" id="pwd" placeholder="Enter password">
                    </div>
                    <div class="mb-3 ">
                        <input class="text-box" type="text" id="acno" placeholder="Enter Amount">


                    </div>

                    <br>

                    <button class="btn btn-success">WIthdraw</button>

                </form>

            </div>
            <div class="col-4 rw1">
                <form action="">
                    <div class="mb-3 ">
                        <input class="text-box" type="text" id="uname" placeholder="Enter user name">
                    </div>
                    <div class="mb-3">
                        <input class="text-box" type="password" id="pwd" placeholder="Enter password">
                    </div>
                    <div class="mb-3 ">
                        <input class="text-box" type="text" id="acno" placeholder="Enter Amount">
                    </div>

                    <br>

                    <button class="btn btn-success">Deposit</button>
                </form>
            </div>
            <div class="col-2">

            </div>
        </div>




    </div>
</div>