/* You can add global styles to this file, and also import other style files */
.head1{
    color: rgb(1, 59, 1);
    font-size: 59px;
  
}
.imgg{
    border-radius: 15px;
width: 50px;
    height: 50px;
    margin-top: -11px;
 
}
.head2{
    font-size: 20px;
    float: right;
    margin-right: 46%;
}


.rw1{
   padding: 45px;
    background-color:rgb(197 230 172) ;
    border-radius:30px;
 
}
.first{
 margin-top: 150px;

}
.form{
    padding-left: 40px;
}
.text-box{
    width: 100%;
    /* margin-left: 15px; */
    border-radius: 5px;
    background-color:white;
}
.btn{
    width: 100%;
    margin-bottom: 5px;
}