/* You can add global styles to this file, and also import other style files */
.main-div{
   
    background-color:rgb(197 230 172);
    align-items: center;
    text-decoration: none;
    color: black;
  }
 


.whole{
    
    height: 700px;
}

.welcome{
    color:rgb(1, 59, 1);
    margin-top: 50px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
   
}
.head1{
    color: rgb(1, 59, 1);
    font-size: 59px;
  
}
.imgg{
    border-radius: 15px;
width: 50px;
    height: 50px;
    margin-top: -11px;
 
}
.h1{
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.head2{
    font-size: 20px;
    float: right;
    margin-right: 46%;
}
.rw{
    margin-top: -90px;
  margin-left: 60px;
   display: flex;
   justify-content: center;
    padding: 0;
}

.rw1{
   padding: 35px;
    background-color:rgb(197 230 172) ;
    border-radius:30px;
    margin-bottom: 20px;
 margin-right: 90px;
}
.first{
 margin-top: 150px;


}
.form{
    padding-left: 40px;
}
.text-box{
    width: 100%;
    /* margin-left: 15px; */
    border-radius: 5px;
    background-color:white;
}
.btn{
    width: 100%;
    margin-bottom: 5px;
}