<nav class="navbar navbar-expand-lg navbar-light navi">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img class="imgg" src="assets/images.png" alt="">
            Green Bank</a>
        <div>
            <ul class="navi2 navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Our Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FeedBack</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Support</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container first ">
    <div class="row">
        <div class="col-6 col-lg-6 ">
            <div class=left>
                <h1 class="head1">Green Bank</h1>


                <img class=" imgg" src="assets/images.png" alt="">
                <h2 class="head2">
                    Adopts the pace of Nature</h2>

            </div>

        </div>
        <div class="col-4 rw1">

            <h3>New Registration</h3>

            <form ngSubmit="register()">
                <div class="mb-3 ">
                    <input class="text-box" type="text" id="acno" [(ngModel)]="accno" [value]="accno" name="account"
                        placeholder="enter account number">

                </div>
                <div class="mb-3 ">
                    <input class="text-box" type="text" id="uname" [(ngModel)]="uname" name="uname" placeholder="enter user name">
                </div>
                <div class="mb-3">
                    <input class="text-box" type="password" id="pwd" [(ngModel)]="pswd"  name="passwd"placeholder="enter password">
                </div>

                <button type="submit" class="btn btn-success" (click)="register()">Register</button>
                <a  routerLink="">Log In</a>
            </form>
        </div>
        <div class="col-2"></div>
    </div>



</div>